<div class="odontologo-page">
  
  <div class="odontologo-lista" *ngIf="!vistaDetalle">
    <h1>Hola, Dr. Gustavo</h1>

    <div class="top-bar">
      <input
        type="text"
        [(ngModel)]="busqueda"
        placeholder="Buscar paciente..."
      />
      <button class="btn-buscar" (click)="buscarPaciente()">Buscar</button>
      <button class="btn-cerrar" (click)="cerrarSesion()">Cerrar Sesión</button>
    </div>

    <h3>Todas las Historias Clínicas</h3>


    <div class="tabla-card" *ngIf="!cargando">
      <table>
        <thead>
          <tr>
            <th>Paciente</th>
            <th>Fecha</th>
            <th>Motivo</th>
            <th>Diagnóstico</th>
            <th>Acción</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let historia of historiasFiltradas">
            <td>{{ historia.paciente }}</td>
            <td>{{ historia.fechaTabla }}</td>
            <td>{{ historia.motivoTabla }}</td>
            <td>{{ historia.diagnosticoTabla }}</td>
            <td>
              <button class="btn-ver" (click)="verHistoria(historia)">Ver</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="detalle-page" *ngIf="vistaDetalle && historiaSeleccionada">
    <div class="detalle-card">
      <h1>Historia Clínica</h1>

      <div class="bloque-detalle">
        <p><strong>Fecha de Creación:</strong> {{ historiaSeleccionada.fechaCreacion }}</p>
        <p><strong>Nombre del Paciente:</strong> {{ historiaSeleccionada.paciente }}</p>
        <p><strong>Fecha de Nacimiento:</strong> {{ historiaSeleccionada.fechaNacimiento }}</p>
        <p><strong>Sexo:</strong> {{ historiaSeleccionada.sexo }}</p>
        <p><strong>Número de Identificación:</strong> {{ historiaSeleccionada.identificacion }}</p>
        <p><strong>Teléfono:</strong> {{ historiaSeleccionada.telefono }}</p>
        <p><strong>Dirección:</strong> {{ historiaSeleccionada.direccion }}</p>
        <p><strong>Antecedentes Generales:</strong> {{ historiaSeleccionada.antecedentes }}</p>

        <div class="firmas">
          <div class="firma-box">
            <span>Firma del Paciente</span>
            <h3>{{ historiaSeleccionada.firmaPaciente }}</h3>
          </div>

          <div class="firma-box">
            <span>Firma del Odontólogo</span>
            <h3>{{ historiaSeleccionada.firmaOdontologo }}</h3>
          </div>
        </div>
      </div>

      <h2 style="margin: 20px 0 10px 10px;">Consultas Realizadas</h2>
      <div class="bloque-detalle" *ngFor="let consulta of historiaSeleccionada.consultas">
        <p><strong>Fecha de la Consulta:</strong> {{ consulta.fechaConsulta }}</p>
        <p><strong>Motivo:</strong> {{ consulta.motivo }}</p>
        <p *ngIf="consulta.examen"><strong>Examen Clínico:</strong> {{ consulta.examen }}</p>
        <p *ngIf="consulta.diagnostico"><strong>Diagnóstico:</strong> {{ consulta.diagnostico }}</p>
        <p *ngIf="consulta.tratamiento"><strong>Plan de Tratamiento:</strong> {{ consulta.tratamiento }}</p>
        <p *ngIf="consulta.observaciones"><strong>Observaciones:</strong> {{ consulta.observaciones }}</p>
      </div>

      <button class="salir-btn" (click)="volverListado()">Volver al Listado</button>
    </div>
  </div>
</div>